rofi.color-enabled: true
rofi.color-window: #1f1f1f, #1f1f1f, #1f1f1f
rofi.color-normal: #1f1f1f, #00a7ff, #1f1f1f, #00a7ff, #ffffff
rofi.color-active: #1f1f1f, #00a7ff, #1f1f1f, #00a7ff, #ffffff
rofi.color-urgent: #1f1f1f, #dc322f, #1f1f1f, #dc322f, #ffffff
