rofi.color-enabled: true
rofi.color-window: #fbaf3f, #fbaf3f, #fbaf3f
rofi.color-normal: #fbaf3f, #fefefe, #fbaf3f, #ffffff, #fbaf3f
rofi.color-active: #fbaf3f, #fefefe, #fbaf3f, #fefefe, #fbaf3f
rofi.color-urgent: #dc322f, #fefefe, #dc322f, #dc322f, #ffffff
