rofi.color-enabled: true
rofi.color-window: #121116, #ffffff, #ffffff
rofi.color-normal: #121116, #ffffff, #121116, #00ff8d, #121116
rofi.color-active: #121116, #ffffff, #121116, #00ff8d, #121116
rofi.color-urgent: #ff005e, #ffffff, #ff005e, #ff005e, #ffffff
