rofi.color-enabled: true
rofi.color-window: #0d0a0b, #0d0a0b, #0d0a0b
rofi.color-normal: #0d0a0b, #dcc48e, #0d0a0b, #227461, #0d0a0b
rofi.color-active: #0d0a0b, #dcc48e, #0d0a0b, #227461, #0d0a0b
rofi.color-urgent: #98473e, #dcc48e, #98473e, #98473e, #dcc48e
