! Rofi configuration
rofi.modi: run

rofi.color-enabled: true
rofi.font: ypn envypn 10

!                  Background   Foreground  Background Alternate    Highlight Background    Highlight Foreground
rofi.color-window: #161916,     #fffffa,    #161916     
rofi.color-normal: #161916,     #fffffa,    #161916,                #FF5964,                #161916
rofi.color-active: #161916,     #fffffa,    #161916,                #FF5964,                #161916
rofi.color-urgent: #FF5964,     #161916,    #FF5964,                #FF5964,                #161916

rofi.columns: 1
rofi.fake-transparency: true
rofi.hide-scrollbar: true
rofi.disable-history: true
rofi.bw: 0
rofi.fullscreen: false
rofi.lines: 5
rofi.padding: 5
rofi.separator-style: none
