/*
 * Main Colors Used:
 *
 * White: #FFFFFF
 * Black: #121116
 * Green: #00FF8D
 *
 * Colors were found using GPick.
 *
 * Written by: clyde80 on November 21, 2016
 * Website: github.com/clyde80
 */

html, body {
    text-align: center;
    margin: 0;
    padding: auto;
    font-family: "Raleway", "Arial", "Sans";
}

body {
    padding-top: 7%;
    background-color: #121116;
}

/* Style the search field. */
#search_field {    
    background-color: #121116;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    width: 178px;
    padding: 10px 10px;
    margin-top: 1.6em;
    font-family: "Raleway", "Arial", "Sans";
}

/* Animations for the search field depend on how big the device is. 
   Only do this if the screen width is greater or equal to 401px. */
@media screen and (min-width: 401px) {
    #search_field {
        transition: width 1s, border-color 1s, background-color 1s, color 1s;
        -webkit-transition: width 1s, border-color 1s, background-color 1s, color 1s;
    }

    #search_field:hover, #search_field:focus {
        width: 626px; /* 626 because of 1px border */
        border-color: #00ff8d;
        background-color: #00ff8d;
        color: #121116;
    }
}

/* If the device width is less than or equal to 400px, only animate
   border color. */
@media screen and (max-width: 400px) {
    #search_field {
        transition: border-color 0.5s;
        -webkit-transition: border-color 0.5s;
    }

    #search_field:focus, #search_field:hover {
        border-color: #820C1E;
    }
}
/* End styling the search field. */

/* Style the groups (things directly under the search bar). */
.row {
    margin-top: 1.6em;
    margin-left: 10px;
    margin-right: 10px;
}

.group-button {
    width: 200px;
    display: inline-block;
    padding: 10px 5px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #FFFFFF;
    background-color: #121116;
    color: #FFFFFF;
    transition: color 0.5s, border 0.5s, background-color 0.5s;
    -webkit-transition: color 0.5s, border 0.5s, background-color 0.5s;
}

.group-button:hover {
    color: #121116;
    border-color: #00ff8d;
    background-color: #00ff8d;
}
/* Done styling the groups. */

#title {
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}
